
<div class="container">

  <div class="jumbotron">
    <h1>
      <img data-image-role="jumbotron-image" src="/assets/images/taco-large.png" />
      About Celebrity Tacos
    </h1>

    <p>
      Celebrity Taco is literally the coolest website you will ever visit in your entire life.
      Your internet life has peaked.
      You may rest now.
    </p>


    <div class="panel panel-primary">
      <div class="panel-heading">
        Who made Celebrity Tacos?
      </div>
      <div class="panel-body">

        <p>
          Celebrity Tacos was created by:
        </p>
        <p>
          <ul>
            <li>
              Mike Peralta
            </li>
            <li>
              Jyoti Nikam
            </li>
            <li>
              Connor O'Donnell
            </li>
            <li>
              Kelly Nguyen
            </li>
            <li>
              Aditi Patil
            </li>
            <li>
              Yummy yummy tacos
            </li>
          </ul>
        </p>
      </div>
      <div class="panel-footer">
        All rights reserved; Don't be a copy
      </div>
    </div>
  </div>
</div>

{{outlet}}
