

{{component "nav-bar"}}

<div data-element-role="main-content">
  {{outlet}}
</div>

<footer class="page-footer">
  <div class="container-fluid text-center">
    Copyright 2018, by Very Cool Persons
  </div>
</footer>
