{{new-taco-watcher}}

<div class="text-center">
  <img src="/assets/images/logo-home.png" />
</div>

<div class="container text-center">
  <blockquote>
    More powerful than you could possibly imagine
  </blockquote>
</div>

{{outlet}}
