

<div class="container">
  <div class="jumbotron">
    <h1>
      <img data-image-role="jumbotron-image" src="/assets/images/taco-large.png" />
      Loading ...
    </h1>
    <p>
      Hang on a second ... we're loading your page
    </p>
  </div>
</div>
